
.f-field--radio {
  margin: 0.25rem 0;
}
.f-field--sm.f-field--radio {
  .f-field__label--radio {
    font-size: 1rem;
    line-height: 1.5em;
    padding: 0 1.5em;
    &::before {
      font-size: 0.75rem;
    }
  }
}
.f-field__label--radio {
  display: flex;
  align-items: center;
  pointer-events: all;
  font-size: 1rem;
  line-height: 1.5em;
  padding-left: 2em;
  position: relative;
  color: $slate;
  user-select: none;
  transform: none;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: block;
    width: 1.375em;
    height: 1.375em;
    background: transparent;
    border-radius: 100%;
    box-shadow: inset 0 0 0 1px #a9a9a9;
    transition: all 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
  }
}

.f-field__radio {
  width: 0;
  height: 0;
  opacity: 0;
  padding: 0;
  appearance: none;
  border: none;
  display: block;
}
.f-field__radio:checked ~ .f-field__label--radio {
  &::before {
    box-shadow: inset 0 0 0 4px #009de0;
  }
}
