// Fonts

// Source Sans Pro is loaded via google fonts

// Klavika Bold

@font-face {
  font-family: 'Klavika';
  src:
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-Bold.eot?') format('eot'),
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-Bold.woff') format('woff'),
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-Bold.ttf') format('truetype'),
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-Bold.svg#Klavika-Bold') format('svg');
  font-style: normal;
  font-weight: 700;
}

// Klavika Bold Italic

@font-face {
  font-family: 'Klavika';
  src:
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-BoldItalic.eot?') format('eot'),
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-BoldItalic.woff') format('woff'),
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-BoldItalic.ttf') format('truetype'),
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-BoldItalic.svg#Klavika-BoldItalic') format('svg');
  font-style: italic;
  font-weight: 700;
}

// Klavika Medium

@font-face {
  font-family: 'Klavika';
  src:
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-Medium.eot?') format('eot'),
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-Medium.woff') format('woff'),
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-Medium.ttf') format('truetype'),
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-Medium.svg#Klavika-Medium') format('svg');
  font-style: normal;
  font-weight: 500;
}

// Klavika Medium Italic

@font-face {
  font-family: 'Klavika';
  src:
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-MediumItalic.eot?') format('eot'),
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-MediumItalic.woff') format('woff'),
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-MediumItalic.ttf') format('truetype'),
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-MediumItalic.svg#Klavika-MediumItalic') format('svg');
  font-style: italic;
  font-weight: 500;
}

// Klavika Regular

@font-face {
  font-family: 'Klavika';
  src:
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-Regular.eot?') format('eot'),
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-Regular.woff') format('woff'),
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-Regular.ttf') format('truetype'),
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-Regular.svg#Klavika-Regular') format('svg');
  font-style: normal;
  font-weight: 400;
}

// Klavika Regular Italic

@font-face {
  font-family: 'Klavika';
  src:
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-RegularItalic.eot?') format('eot'),
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-RegularItalic.woff') format('woff'),
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-RegularItalic.ttf') format('truetype'),
    url('https://static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-RegularItalic.svg#Klavika-RegularItalic') format('svg');
  font-style: italic;
  font-weight: 400;
}

// Klavika Light

@font-face {
  font-family: 'Klavika';
  src:
    url('//static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-Light.eot?') format('eot'),
    url('//static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-Light.woff') format('woff'),
    url('//static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-Light.ttf') format('truetype'),
    url('//static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-Light.svg#Klavika-Light') format('svg');
  font-style: normal;
  font-weight: 300;
}

// Klavika Light Italic
@font-face {
  font-family: 'Klavika';
  src:
    url('//static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-LightItalic.eot?') format('eot'),
    url('//static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-LightItalic.woff') format('woff'),
    url('//static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-LightItalic.ttf') format('truetype'),
    url('//static.tecnico.ulisboa.pt/fonts/klavika-nova/Klavika-LightItalic.svg#Klavika-LightItalic') format('svg');
  font-style: italic;
  font-weight: 300;
}
