.i-ellipsis {
  width: 2em;
  height: 2em;
  display: block;
  cursor: pointer;
  background-color: transparent;
  background-size: 1em 1em;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 4 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-1122-513H318v997h-1440z'/%3E%3Cpath fill='none' d='M-10-4h24v24h-24z'/%3E%3Cg fill='%231C172F' opacity='.4'%3E%3Ccircle cx='2' cy='2' r='2'/%3E%3Ccircle cx='2' cy='8' r='2'/%3E%3Ccircle cx='2' cy='14' r='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  @media screen and (min-width: 47.5rem) {
    width: 2em;
    height: 2em;
  }
}
.i-filters {
  width: 2em;
  height: 2em;
  display: block;
  cursor: pointer;
  background-color: transparent;
  background-size: 1em 1em;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='16px' viewBox='0 0 20 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Eicon-user%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Settings' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='icon-user' transform='translate(-2.000000, -4.000000)'%3E%3Crect id='Outbounds' x='0' y='0' width='24' height='24'%3E%3C/rect%3E%3Cg id='shapes' transform='translate(2.000000, 4.000000)' fill='%238F95A1'%3E%3Cg id='Group-22'%3E%3Crect id='Rectangle' x='1.9' y='0' width='2.2' height='16' rx='1'%3E%3C/rect%3E%3Crect id='Rectangle' x='0' y='10' width='6' height='2.2' rx='1.1'%3E%3C/rect%3E%3C/g%3E%3Cg id='Group-21' transform='translate(14.000000, 0.000000)'%3E%3Crect id='Rectangle' x='1.9' y='0' width='2.2' height='16' rx='1'%3E%3C/rect%3E%3Crect id='Rectangle' x='0' y='10' width='6' height='2.2' rx='1.1'%3E%3C/rect%3E%3C/g%3E%3Cg id='Group-18' transform='translate(7.000000, 0.000000)'%3E%3Crect id='Rectangle' x='1.9' y='0' width='2.2' height='16' rx='1'%3E%3C/rect%3E%3Crect id='Rectangle' x='0' y='3' width='6' height='2.2' rx='1.1'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  @media screen and (min-width: 47.5rem) {
    width: 2em;
    height: 2em;
  }
}
.i-back-arrow {
  width: 1em;
  height: 0.6em;
  margin: 0 0.25rem;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  background-size: 1em 1em;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='7' viewBox='0 0 13 7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.308567 4.290328l1.26904 1.143965c.376146.339073.398485.91055.049896 1.276427-.34859.365878-.936104.387607-1.31225.048534L.297396 4.038833c-.409371-.369024-.393951-1.00344.032891-1.353234L3.348144.212489c.3922-.321404.978001-.272693 1.308426.1088.330424.381493.280346.951304-.111854 1.272708l-1.085899.889885h8.612612c.512836 0 .928571.404387.928571.903223s-.415735.903223-.928571.903223H3.308567z' fill='%2345555F' fill-rule='nonzero'/%3E%3C/svg%3E");
}
